/* styles.css */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #222;
  color: #fff;
}

#main {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background-color: #111;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#title {
  text-align: center;
  color: #d02b57; /* Red */
}

#img-div {
  text-align: center;
  margin-bottom: 20px;
}

#image {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
  border-radius: 8px;
}

#img-caption {
  color: #aaa;
}

#tribute-info {
  color: #fff;
}

#tribute-link {
  display: block;
  text-align: center;
  margin-top: 20px;
  color: #fff;
  background-color: #d02b57; /* Red */
  padding: 10px 20px;
  border-radius: 4px;
  text-decoration: none;
}

#tribute-link:hover {
  background-color: #a61537; /* Darker red */
}
